:root {
--link-color: #1b1c21;
--link-color-hover: #7E7E82;
--white-color: #FFFFFF;
}



.side-menu {
    width:320px;
    background-color: var(--white-color);
    box-shadow: 0 0 40px 10px #B5B8B1;
    
    @media (min-width:1366px) {
    box-shadow:none;
    padding-top:24px;}
    
    height:100%;
    display:flex;
    flex-direction: column;
        
    @media (min-width:768px) and (max-width:1365px) {
    position:fixed;
    height:100%;
    top:0;
    left:0;
    z-index:3;
    }

    @media (min-width:320px) and (max-width:767px) {
    width:100%;
    height:676px;
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
    }
}

.icon-size {
    width:40px;
    height:40px;  
}

.sidebar__close-button {
    margin-left: 24px;
    background-image: url("C:/Users/evgen/Desktop/block7/src/img/burger2.svg");
    @media (min-width:1366px) {
        display:none;
    }
}

.sidebar__item--search {
    background-image: url("C:/Users/evgen/Desktop/block7/src/img/search.svg");
}

.sidebar__logo {
    width:97px;
    height:51px;
}

.sidebar__header {
    display:flex;
    height:80px;
    align-items: center;
    margin-top:0;
}

.sidebar__item--search {
    margin-left:auto;
    margin-right:20px;
}

.sidebar__item--group {
    margin-left:15px;
}

.sidebar__content {
    margin-left:0;
    margin-top:40px;
    padding-left:0;
    @media (min-width:320px) and (max-width:767px) {
        margin-top: 0;
    }
    @media (min-width:768px) and (max-width:1365px) {
        margin-bottom:auto;}
}

.sidebar__footer {
    margin-top:40px;
    margin-bottom:10px;
    margin-left:24px;
    display:flex;
    flex-direction: column;
    row-gap:20px;   
    
    @media (min-width:1366px) {
    margin-top:140px;
    margin-bottom:20px;}
    
    @media (min-width:768px) and (max-width:1365px) {
    margin-top:auto;
    margin-bottom:20px;}   
}

.footer-nav__item--call {
    background-image: url("C:/Users/evgen/Desktop/block7/src/img/call.svg");
}

.footer-nav__item--chat {
    background-image: url("C:/Users/evgen/Desktop/block7/src/img/chat.svg");
}

.footer-nav__item--profile {
    background-image: url("C:/Users/evgen/Desktop/block7/src/img/profile.svg");
}

.footer-nav {
    display:flex;
    column-gap: 20px;
}

.sidebar__link {
    color:var(--link-color);
    font-size:16px;
    display:flex;
    column-gap:24px;
    align-items:center;
}

.sidebar__link:hover {
    color:var(--link-color-hover);
    transition: color 2s, transform 2s;
    .sidebar__highlight {opacity: 1;};
    cursor: pointer;
}

.sidebar__highlight {
    background-image:url("C:/Users/evgen/Desktop/block7/src/img/highlight.svg");
    width:4px;
    height:32px;
    opacity:0;
    transition: opacity 1s, transform 1s;   
}

.sidebar__list {
    display:flex;
    flex-direction: column;
    row-gap:20px;
    @media (min-width:320px) and (max-width:767px) {
        row-gap:15px;
    }
}

.language-selector {
    margin-top:30px;
    @media (min-width:320px) and (max-width:767px) {
        margin-top:10px;
    }
    letter-spacing: -0.2px;
    font-weight: 500;
}

.language-selector:hover {
    cursor: pointer;
}

.language-selector__language--active {
    color:var(--link-color-hover);
}

.sidebar__phone {
    font-weight:700;
    font-size: 24px;
    letter-spacing: -0.6px;
}

.sidebar__phone,
.sidebar__mail {
    color:var(--link-color);
}

.sidebar__button--grayscale:hover {
    filter: grayscale(100%);
    transition: filter 1s;
}

.sidebar__contacts {
    display:flex;
    flex-direction: column;
    gap:20px;
}

@media (max-width: 1365px) {
.side-menu {
  display:none;
}
}