@font-face {
  font-family: "TTLakes";
  src: url("C:\Users\evgen\Desktop\block7\src\fonts\TTLakes-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("C:\Users\evgen\Desktop\block7\src\fonts\TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("C:\Users\evgen\Desktop\block7\src\fonts\TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}