:root {
--link-color: #1b1c21;
--title-font-color: #7E7E82;
--white-color: #FFFFFF;
--background-color: #F8F8F8;
--border-title-color: #D9FFF5;
--border-color: #EAEAEA;
--button-border-color:#B8FFEC;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
}

.title {
    display:flex;
    justify-content: space-between;
}
/*Сброс стилей для кнопок*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
    all: unset;
}

h1 {
  font-size:28px;
  font-weight: 700;
}


.header-nav {
  display:flex;
  align-items:center;
  column-gap:20px;
  
}

.header-nav__right-menu {
  display:flex;
  margin-left:auto;
  margin-right:24px;
  align-items:center;
  column-gap:0.7em;
}

.header-nav__left-menu {
  display:flex;
  margin-left:24px;
  align-items:center;
  column-gap:0.7em;
}

.desktop-nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:16px;
    margin-top: 20px;
  }

.desktop-nav__title {
  display:flex;
  column-gap:20px;
  
}

.desktop-nav__title::before {
  content: url("C:/Users/evgen/Desktop/block7/src/img/highlight.png");
}




.desktop-nav__menu {
  display:flex;
  column-gap:20px;
  margin-right:24px;
  
}

.desktop-nav__button {
  display:flex;
  column-gap:20px;
  align-items: center;
  font-weight: 500;
}

.side-menu__item {
  padding:10px 15px;
  font-size:16px;
  border:2px solid var(--background-color);
  border-radius:5px;
}

.about {
  padding-left:0;
  
}

.about-container {
  display:flex;
  width:100%;
  padding-top:2em;
}

.about,
.pic-container {
  width:50%;
}

.pic-container {
  margin-right:1em;
}

.header-nav__item--burger {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/burger.png");
}

.header-nav__item--divider-left,
.header-nav__item--divider-right {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/divider.png");
width:2px;
height:32px;
}

.header-nav__item--group {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/group.png");
width:96px;
height:51px;
}

.header-nav__item--call {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/call.png");
}

.header-nav__item--chat {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/chat.png");
}

.header-nav__item--profile {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/profile.png");
}

.header-nav__item--repair {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/repair.png");
}

.header-nav__item--checkstatus {
background-image: url("C:/Users/evgen/Desktop/block7/src/img/checkstatus.png");
}

.icon-size {
width:40px;
height:40px;  
}

.about__text p {
  text-align: justify;
}

/*Media directives*/

@media (min-width: 320px) and (max-width: 767px) {
  
.header-nav {
  background-color: var(--white-color);
  width:100%;
  height:80px;
}




.header-nav__item--call,
.header-nav__item--chat,
.header-nav__item--profile,
.header-nav__item--divider-left {
  display:none;
}



.side-menu__slider {
  display:flex;
  position: relative;  
  overflow:auto;
  white-space: nowrap;
  padding-left:1.5em;
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  
}

.side-menu__slider::-webkit-scrollbar {
  display: none;
}

.side-menu__slider a:hover {
  border:2px solid var(--button-border-color);
  border-radius:5px;
  }

.services-container::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 50px;
  right: 0;
  top:145px;
  pointer-events: none;
  background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  z-index: 2;
}

.services-container::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 50px;
  left: 0;
  top:145px;
  pointer-events: none;
  background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  z-index: 2;
}



.about-container {
  display: flex;
  flex-direction: column;
}

.about__read-more-button {
  margin-bottom: 20px;
}

.pic-container {
  width:100%;
}

.pic-container__img {
    width:100%;
    max-width: none;
}

.about {
    height:auto;
    overflow:hidden;
    width: 100%;
}
.about__text {
  height:100px;
  overflow: hidden;
  width:90%;
  margin-left:24px;
  padding-left:0;
  text-align: justify;
}

.about__text p {
  text-align: justify;
}


.about__text-active {
  height:auto;
}

.about__read-more {
  padding-top:10px;
  margin-left:24px;
}

.desktop-nav__button {
  display:none;
}
}

@media (min-width: 768px) and (max-width: 1365px) {
  

.header-nav {
  background-color: var(--white-color);
  height:88px;
}



.side-menu__slider {
  display:flex;
  position: relative;  
  overflow: auto;
  white-space: nowrap;
  padding-left:24px;
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  
}

.side-menu__slider::-webkit-scrollbar {
  display: none;
}

.side-menu__slider a:hover {
  border:2px solid var(--button-border-color);
  border-radius:5px;
}

.services-container::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 50px;
  right: 0;
  top:145px;
  pointer-events: none;
  background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  z-index: 2;
}

.services-container::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 50px;
  left: 0;
  top:145px;
  pointer-events: none;
  background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  z-index: 2;
}



.pic-container__img {
    width:360px;
    height:208px;
    border-radius:10px;
}

.about {
  overflow:hidden;
  width: 50%;
  }

.pic-container {
  width:50%;
}

.about__text {
  height:155px;
  overflow: hidden;
  width:90%;
  margin-left:24px;
  padding-left:0;
}

.about__text-active {
  height:auto;
}

.about__read-more {
  padding-top:10px;
  margin-left:24px;
}

.desktop-nav__button {
  display:none;
}
}

@media (min-width: 1366px) {
  .header-nav {
    display:none;
  }

  .desktop-nav {
    display:flex;
    justify-content:space-between;
    margin-top:42px;
  }



  .side-menu__slider {
  display:flex;
  flex-wrap:wrap;
  white-space: nowrap;
  padding-left:24px;
  }

  .side-menu__item:hover {
  border:2px solid var(--button-border-color);
  border-radius:5px;
  }

.pic-container__img {
    width:531.35px;
    height:307px;
    border-radius:10px;
}

.about__read-more {
  padding-top:10px;
  margin-left:24px;
}

.about__text {
  width:90%;
  margin-left:24px;
  padding-left:0;
  height:250px;
  overflow: hidden;
}

.about__text-active {
  height:auto;
}

.side-menu__item {
  padding:10px 20px;
  font-size:16px;
}
}
